*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;

  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content{
  display: flex;
  gap:30px;
  height: 800px;
  padding: 133px 30px;
}

.search-form{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.content__list{
  height: 297px;
  overflow: scroll;
}

.content__details{
  height: 100%;
  width: 399px;

}

.result{
  padding-top: 78px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.result__video-container{
  height: 386px;
  width: 711px;
}


.result__video{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-position: center;
  object-fit: cover; 
} 

.content__list-item{
  /* height: 100%; */
  padding-bottom: 30px;
}


.content__list-item:last-child{
  padding-bottom: 0;
}

.content__video-card{
  display: flex;
}

.content__video-card-thumbnail{
  width: 194px;
  height: 103px;
  margin: 0;
  object-position: center;
  object-fit: cover; 
}

.content__video-card-description-container{
  width: 100%;
}

.result__video-container{
  position: relative;
}

.content__list{
  position: relative;
}

.search-form__fieldset-title{
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title{
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent{
  color: #545050;
  text-align: center;
}

.content__card-link{
  text-decoration: none;
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  
}

.content__video-card-title{
  color: #FFF;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.content__video-card-description{
  line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset{
  border: none;
}

.search-form__fieldset-title{
  padding-bottom: 5px;
  color: #FFF;

  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__checkbox-list{
  display: flex;
  gap: 16px;
  padding-left: 2px;
}

.search-form__label{
  color: #fff;
  width: fit-content;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 7px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  box-shadow: 
  0 0 0 1px #1b1919,
  0 0 0 2px #fff;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox {

  background-color: #fff;
}

.search-form__label-text{
  color: #FFF;

  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
}

.search-form__textfield{
  color: #fff;
  background-color: transparent;
  width: 225px;
  height: 27px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-right: none;
  border-left: none;
  padding-left: 0;
}

.search-form__textfield::placeholder{
  color: rgba(255, 255, 255, 0.70);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button{
  color: #FFF;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  height: 34px;
  background-color: transparent;
  border: 1px solid #FFF;;
}

.search-form__submit-button{
  width: 194px;
}

.more-button{
  width: 100%;
}

.search-form__textfield:focus{
  outline: none;
}

.search-form__textfield:focus-visible{
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox:focus-visible{
  outline: 1px solid #fff;
  outline-offset: 1px;
}


button:focus{
  outline: none;
}
.search-form__submit-button:focus-visible{
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label-text:hover{
  text-decoration: underline;
}

.search-form__submit-button:hover{
  text-decoration: underline;
}
.search-form__submit-button:active{
  background: #545050;
}

.content__list-item:hover{
  text-decoration: underline;
}

.search-form__label:active{
  outline: 1px solid #fff;
}

.content__video-card:active{
  background-color: #545050;
}

.content__card-link{
  display: block;
}
.content__card-link_current{
  background: #545050;
}
.content__card-link_current:focus{
  outline: none;
}

.content__card-link{
  margin: 3px;
}

.content__card-link_current:focus-visible{
  outline: 1px solid #fff;
}